alabaster==0.7.10
apipkg==1.4
astropy==2.0.1
Babel==2.4.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
bleach==2.0.0
certifi==2017.7.27.1
chardet==3.0.4
configparser==3.5.0
coverage==4.4.1
coveralls==1.1
cycler==0.10.0
Cython==0.26
decorator==4.1.2
docopt==0.6.2
docutils==0.14
entrypoints==0.2.3
enum34==1.1.6
execnet==1.4.1
fitsio==0.9.12rc1
functools32==3.2.3.post2
future==0.16.0
h5py==2.7.0
healpy==1.11.0
html5lib==0.999999999
idna==2.5
imagesize==0.7.1
ipykernel==4.6.1
ipython==5.4.1
ipython-genutils==0.2.0
ipython-sql==0.3.8
ipywidgets==6.0.0
Jinja2==2.9.6
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.1.0
jupyter-core==4.3.0
MarkupSafe==1.0
matplotlib==2.0.2
mistune==0.7.4
nbconvert==5.2.1
nbformat==4.3.0
networkx==1.11
nose==1.3.7
notebook==5.0.0
numpy==1.13.1
numpydoc==0.7.0
olefile==0.44
pandas==0.20.3
pandocfilters==1.4.2
pathlib2==2.3.0
pep8==1.7.0
pexpect==4.2.1
photutils==0.4.dev2656
pickleshare==0.7.4
Pillow==4.2.1
prettytable==0.7.2
prompt-toolkit==1.0.15
psycopg2==2.7.3
ptyprocess==0.5.2
py==1.4.34
Pygments==2.2.0
pyparsing==2.2.0
pytest==3.2.1
pytest-cache==1.0
pytest-cov==2.5.1
pytest-pep8==1.0.6
python-dateutil==2.6.1
pytz==2017.2
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.3.0
requests==2.18.3
scandir==1.5
scikit-image==0.13.0
scikit-learn==0.18.2
scipy==0.19.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.3
sphinxcontrib-websupport==1.0.1
SQLAlchemy==1.1.13
sqlparse==0.2.3
subprocess32==3.2.7
terminado==0.6
testpath==0.3.1
tornado==4.5.1
tractor===git
traitlets==4.3.2
typing==3.6.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==2.0.0
-e git+https://github.com/legacysurvey/legacypipe.git@dr5.0#egg=legacypipe
https://github.com/dstndstn/tractor/archive/dr5.2.tar.gz
https://github.com/dstndstn/astrometry.net/releases/download/0.72/astrometry.net-0.72.tar.gz
